<%= provide :page_title, "Questions" %>
<% currently_at t("questions.index") %>

<div class="content">
  <h1 class="text-3xl">Questions</h1>
  <div class="flex justify-start items-start flex-col">
    <% if policy(:question).new? %>
      <%= link_to "New question", new_question_path, class: "btn-primary bg-gray-500", data: { turbo_frame: dom_id(Question.new) } %>

      <div class="my-2">
        <%= turbo_frame_tag Question.new %>
      </div>

    <% end %>
  </div>

  <%= turbo_frame_tag 'pagination_pagy' do %>
    <div>
      <%== pagy_nav @pagy %>
    </div>

    <%= turbo_frame_tag 'questions' do  %>
      <%= render @questions %>
    <% end %>
  <% end %>

</div>
