<div class="content">
  <%= currently_at "Questions" %>
  <%= provide :page_title, "Show question" %>
  <div class="content">
    <h1 class="text-2xl"><%= @question.title %></h1>

    <p>
      <time datetime="<%= @question.formatted_created_at %>">
        <%= @question.formatted_created_at %>
      </time>
    </p>

    <p><%= @question.body %></p>

    <div class="flex gap-1">
      <%= link_to "Edit", edit_question_path(@question), class: "btn-primary bg-gray-500" %>
      <%= link_to "Delete", question_path(@question), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-primary bg-red-500" %>
      <%= link_to "Back", :back, class: "btn-primary bg-blue-500" %>
    </div>
  </div>

  <div>
    <hr class="my-2 content">
    <h1 class="text-2xl font-bold">Write your answer</h1>
  </div>

  <div class="">
    <%= render "answers/form" %>
  </div>

  <div class="answers">
    <hr class="my-2">
    <h1 class="mb-4 font-bold text-2xl">Answers</h1>

    <div  class="my-2">
      <%= pagination @pagy %>
    </div>

    <%= render partial: 'answers/answer', collection: @answers, as: :answer, locals: {question: @question } %>
  </div>
</div>
