<tr>
  <th scope="row" class="table-header"><%= user.id %></th>
  <td class="table-header" ><%= user.name %></td>
  <td class="table-header" ><%= user.email %></td>
  <td class="table-header" ><%= user.created_at %></td>
  <td class="table-header" ><%= user.updated_at %></td>
</tr>